{% extends 'auction_store/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}

{% block head_payment %}
  <link href="{% static 'css/payment.css' %}" rel="stylesheet">
{% endblock head_payment %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<div class="container-fluid" style="height: auto">
 <form action="" method="post" id="payment-form" name="payment-form">
  {%  csrf_token %}
   <div class="row bg-light">
    <legend class="border-bottom my-3 text-center">
     <i class="nav-item fas fa-money-check text-muted pr-1"></i>
     <span class="h2 font-weight-bolder">Payment</span>
    </legend>
    <p class="col-12 mt-2 text-center">
     <a class="text-dark pr-2" href="{% url 'item-detail' item.id %}">
     <i class="fas fa-tag text-muted pl-2"></i>
     <span class="text-dark font-weight-bold h4">{{ item.name }}</span>
     </a>
    </p>
    <p class="col-12 mt-3 text-center">
     <span class="
     px-2 py-3 ">
      <i class="fas fa-coins pr-1"></i>
      <span class="font-weight-bold h4">{{ price }}</span>
      <i class="fas fa-euro-sign euro-sign-item"></i>
     </span>
    </p>

     <div class="col-md-10 offset-md-1">
      <h5 class="pt-3 mb-4 pl-3">Delivery Address</h5>
       <div class="form-group col-12 mb-0 text-muted">
        {{ order_form.full_name|as_crispy_field }}
       </div>
       <div class="row px-3 text-muted">
        <div class="form-group col-6 mb-0">
         {{ order_form.email|as_crispy_field }}
        </div>
        <div class="form-group col-6 mb-0">
         {{ order_form.phone_number|as_crispy_field }}
        </div>
       </div>
       <div class="row px-3 text-muted">
        <div class="form-group col-6 mb-0">
         {{ order_form.street_address1|as_crispy_field }}
        </div>
        <div class="form-group col-6 mb-0">
         {{ order_form.street_address2|as_crispy_field }}
        </div>
       </div>
       <div class="row px-3 text-muted">
        <div class="form-group col-7 mb-0">
         {{ order_form.county|as_crispy_field }}
        </div>
        <div class="form-group col-5 mb-0">
         {{ order_form.postcode|as_crispy_field }}
        </div>
       </div>
       <div class="row px-3 text-muted">
        <div class="form-group col-6 mb-0">
         {{ order_form.town_or_city|as_crispy_field }}
        </div>
        <div class="form-group col-6 mb-0">
         {{ order_form.country|as_crispy_field }}
        </div>
       </div>
       <div class="row py-3 px-2">
        <div class="col-12 bg-secondary py-2 px-1 p-lg-3 mt-2">
         <label for="card-element" id="stripe-btn-label" class="text-white pb-1">
          Credit or debit card
         </label>
         <div id="card-element" class="StripeElement StripeElement--empty">
          <div class="__PrivateStripeElement"
        			 style="margin: 0px !important;
        					padding: 0px !important;
        					border: none !important;
        					display: block !important;
        					background: transparent !important;
        					position: relative !important;
        					opacity: 1 !important;">
          </div>
         </div>
         <!-- Used to display form errors. -->
         <div id="card-errors" role="alert"></div>
         </div>
         <button id="stripe-button" class="">Submit Payment</button>
       </div>
       <p class="col-12 pb-5"><small class="float-right">* Field Required</small></p>
     </div>
   </div>
 </form>
</div>
<!-- Create a Stripe client -->
<script src="{% static 'js/payment.js' %}" type="text/javascript" nonce="">
</script>
{% endblock content %}
