
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* crispy forms */

.asteriskField{
    display: none;
}
#id_image{
  border: none;
}
#id_image:focus,#id_image:active{
  outline: none ;
  box-shadow: none;
}

/* navbar */

.navbar-brand{
  font-family: 'IM Fell Great Primer SC', serif;
	font-size: 45px;
  text-shadow: 3px 2px #b1b1b1;
}
#search-input{
	width: auto ;
}
.nav-item{
    color: rgba(2, 59, 109, 1);
    font-size: 20px;
}
.nav-item:hover{
    color: rgba(2, 59, 109, 0.65);
    text-decoration: none;
}
.badge-red{
  color: red!important;
}
.badge-cart{
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 50%;
  position: relative;
  bottom: 12px;
  left: -3px;
}
#register-link:hover{
    color: rgba(167, 29, 42, 0.65) !important;
    text-decoration: none;
}
#login-link:hover{
    color: rgba(0, 123, 255, 0.65) !important;
    text-decoration: none;
}
#nav-search-btn{
  padding: 6px 15px;
}
/*#id_multi_name_fields{
    padding: 0px !important;
    margin-right: .25rem !important;
    padding-left: .25rem !important;
   /* px-md-3*/
.first-active-style{
  text-align: center;
  box-shadow: 3px 2px 8px #dc3545;
}
.history-icon{
    font-size: 20px;
}

/* auction-section */
.carousel{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.carousel-img{
	padding-left: 5px;
	padding-right: 5px;
}
#jumbotron-button-md{
	position: relative;
	bottom: 65px;
	right: 50px;
}
@media screen and (max-width: 991px) and (min-width: 768px){
	#jumbotron-icon{
		position: relative;
		bottom: -35px;
	}
	#jumbotron-button-md{
	position: relative;
	bottom: 105px;
	right: 30px;
	}
}

.jumbotron-button{
	padding-left: 20px;
	padding-right: 20px;
}
.jumbotron-button.jumbotron-button-hover:hover{
	color: #0275d8 !important;
}


/* HOME */
#home-top-banner{
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 1199px) and (min-width: 992px){
	#just-added-wrapper{
		width: 930px;
	}
}
#just-added-wrapper{
		width: 100%;
	}
#home-scrollspy{
	background-color: #eee;
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.categories {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.categories .categories-item {
  max-width: 18rem;
}

.categories .categories-item img {
  box-shadow: 0px 5px 5px 0px #adb5bd;
}
.search-input-cat{
  display: none;
}
.search-btn-cat{
  border: none;
  outline: none ;
  box-shadow: none;
  background-color: rgba(270, 270, 270, 0);
}
.search-btn-cat:focus,.search-btn-cat:active{
  outline: none ;
  box-shadow: none;
}
.home-cat-item{

}
/* Footer */
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

					/*** store.html ***/
#euro-crispy{
  margin-top: 30px;
}
#cat-nav{
  padding-top: 0;
  padding-bottom: 0;
}
.cat-input{
  display: none;
}
.cat-btn{
  background-color: rgba(270, 270, 270, 0);
  border: none;
  font-size: 14px;
}
.cat-btn:focus,.cat-btn:active{
  outline: none !important;
  box-shadow: none;
}
.auction_lasts{
  font-size: 16px;
}
a {
  color: #023b6d;
  text-decoration: none;
}
a:hover, a:focus {
  color: #5a7d9c;
  text-decoration: none;
}
.badge.badge-pill{
	background-color: transparent;
	color: #000000a6;
  font-size: 11px;
}
.card-row:hover{
  border: 1px solid #A9A9A9 !important;
}
.image-time-store {
  position: absolute;
  top: -20px;
  left: -8px;
  opacity: .9;
  z-index: 1;
}
					/*** item_detail.html ***/

.layered-image {
  position: relative;
}
.layered-image img {
  height: 200px;
  width: 300px;
}
.image-overlay {
  position: absolute;
  top: -60px;
  left: 8px;
  opacity: .9;
}
.image-overlay-store {
  position: absolute;
  top: -15px;
  left: 5px;
  opacity: .8;
}
#filtered-img{
  filter:grayscale(100%);
}
p.item-timer{
	font-weight: bold;
}
p.item-price{
	font-size: 25px;
}
.btn-auction{
    color: #ffc107 !important;
}
.btn-auction:hover{
	color: white !important;
}

.btn-buy{
  color: #007bff !important;
}
.btn-buy:hover, .btn-buy:active{
  background-color: #007bff !important;
	color: white !important;
}
#img-paypal{
    height: 35px !important;
    width: 45px !important;
}
p.bid-icon{
    font-size: 12px;
    color: #adabab;
}
span.key-item-detail{
    font-size: 14px;
    font-weight: light;
}
/* modal */
#bid-btn{
    height: 60%;
    margin-top: 36px !important;
}
#div_id_amount{
    margin: auto;
}

label[for="id_amount"]{
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
}
/* history.html */
.page-btn{
  color: rgba(2, 59, 109, 1) !important;
  border: none;
  outline: none ;
  box-shadow: none;

}
.page-btn:hover, .page-btn:focus {
  background-color: rgba(2, 59, 109, 1) !important;
  color: #fff !important;
  border: none;
  outline: none ;
  box-shadow: none;
}

.page-btn:active{
  background-color: rgba(2, 59, 109, 1) !important;
  border: none;
}
/*.red{
  color: red;
}*/
/*.badge-link{
  position: relative;
}
#badge-total{
  position: relative;
  top: -50px;
  right: -25px;
}
*/
