body, html{
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
a:hover{
  text-decoration: none;
}

/* ------------------ Crispy Form ------------------ */
.asteriskField{
  display: none;
}
#id_image{
  border: none;
}
#id_image:focus,#id_image:active{
  outline: none ;
  box-shadow: none;
}


/* ------------------ Navbar ------------------ */
.navbar-brand{
  font-family: serif;
  font-size: 50px;
  text-shadow: 3px 2px #a2a2a2;
}
.nav-item{
  font-size: 19px;
}
.nav-item:hover{
  color: #000000 !important;
  text-decoration: none;
}
.nav-item:focus, .nav-item:active{
  color: #000000 !important;
  text-decoration: none;
}
.badge-cart{
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
  vertical-align: top;
}


/* ------------------ Footer ------------------ */
.container{
  min-height: 100% !important;
  position: relative !important;
}
.container-fluid{
  min-height: 100% !important;
  position: relative !important;
}
footer {
  bottom: 0;
  margin: 0 auto !important;
  text-align: center !important;
  width: 100% !important;
  position: absolute;
}
footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-link:hover{
  color: #000000 !important;
}


/* ------------------ home.html ------------------ */
#home-top-banner{
  font-size: 24px;
  font-weight: 700;
  text-shadow: 1px 2px #000000;
}

/*working only in Chrome Dev Tools*/
/*.carousel-sm-img{
  max-height: 210px !important;
}*/

@media screen and (max-width: 1199px) and (min-width: 992px){
  #just-added-wrapper{
    width: 930px;
  }
}
#just-added-wrapper{
  width: 100%;
}
#home-scrollspy{
  background-color: #eee;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#about{
  color: #ffffff;
  text-shadow: 1px 2px #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("/static/img/about.jpg") no-repeat center;
  background-origin: border-box;
  background-size: cover;
  height: auto;
  width: auto;
  align-items: center;"
}
#just-added-wrapper{
  background-color: #e9ecef;
}
a.jumbotron-button{
  z-index: 10;
  font-size: 18px;
  padding: 8px 4px;
}
a.jumbotron-button:hover{
  background-color: #ffcc00 !important;
  color: #007bff !important;
}
#contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ffffff;
  text-shadow: 1px 2px #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url("/static/img/contact.jpg") no-repeat center center;
  background-origin: border-box;
  background-size: cover;
  height: auto;
  width: auto;
}


/* ------------------ store.html ------------------ */
.auction_lasts{
  font-size: 16px;
}
.card-row:hover{
  border: 1px solid #A9A9A9 !important;
}
.image-time-store{
  position: absolute;
  top: -20px;
  left: -8px;
  opacity: .9;
  z-index: 1;
}


/* ------------------ item_detail.html ------------------ */
.layered-image{
  width: 100%;
  height: auto;
}
.image-overlay-store-sm {
  position: absolute;
  top: -25px;
  opacity: .9;
  z-index: 1;
  z-index: 10;
  height: auto;
  width: 100%;
}
.image-overlay-store-md {
  position: absolute;
  top: -20px;
  left: 10px;
  opacity: .9;
  z-index: 10;
  height: auto;
  width: 100%;
}
.image-overlay-item {
  position: absolute;
  top: -30px;
  left: 25px;
  opacity: .8;
}
.image-overlay-item-lg {
  position: absolute;
  top: -5px;
  left: 20px;
  opacity: .8;
}
#filtered-img{
  filter:grayscale(100%);
}
.euro-sign-item{
  font-size: 14px;
}
p.item-price-bid{
  font-size: 17px;
}
.item-price{
  font-size: 28px;
}
.stripe-icon-item{
  font-size: 25px;
}
.gavel-icon-item{
  font-size: 15px;
}
.btn-auction{
    color: #ffc107 !important;
}
.btn-auction:hover{
  color: white !important;
}
.btn-buy{
  color: #007bff !important;
}
.btn-buy:hover, .btn-buy:active{
  background-color: #007bff !important;
  color: white !important;
}
p.bid-icon{
    font-size: 12px;
    color: #adabab;
}
.bid-scroll{
  height: 500px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
span.key-item-detail{
  font-size: 14px;
  font-weight: 300;
}
/* modal */
#bid-btn{
    height: 60%;
    margin-top: 36px !important;
}
#div_id_amount{
    margin: auto;
}
label[for="id_amount"]{
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
}


/* ------------------ history.html ------------------ */
.history-scroll {
  width: auto;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.page-btn{
  border: none;
  outline: none ;
  box-shadow: none;

}
.page-btn:hover, .page-btn:focus {
  border: none;
  outline: none ;
  box-shadow: none;
}

.page-btn:active{
  border: none;
}
.page-nos{
  font-size: 20px;
}


/* ------------------cart.html ------------------ */
.cart-scroll{
  height: auto;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
