{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if page_title %}
    <title>{{ page_title }}</title>
    {% else %}
    <title>Auction Store</title>
    {% endif %}

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9"
    crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navbar  -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light static-top pl-4 pr-4">
  <a class="navbar-brand font-weight-bold" href="{% url 'auction_store-home' %}">ARTIFA</a>
   <button class="navbar-toggler" type="button"
   data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
      <a class="nav-item btn btn-link pl-0 pl-md-2 pt-md-2 active"
      href="{% url 'auction_store-home' %}">Home
      <span class="sr-only">(current)</span>
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-item btn btn-link pl-0 pl-md-2 pt-md-2"
      href="{% url 'auction_store-home' %}">About
      <span class="sr-only">(current)</span>
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-item btn btn-link pl-0 pl-md-2 pt-md-2 active"
      href="{% url 'auction_store-store' %}">Store
      <span class="sr-only">(current)</span>
      </a>
     </li>
    </ul>

    <ul class="navbar-nav pr-3">
     {% if user.is_authenticated %}
      <li class="nav-item pt-md-1 px-md-3">
       <a class="nav-link" href="{% url 'item-create' %}" role="button"
       data-toggle="tooltip" data-placement="bottom" title="Sell">
       <i class="nav-item fas fa-ad"></i>
       </a>
    </li>
    <li class="nav-item pt-md-1">
        <a class="nav-link" href="{% url 'profile' %}" id="navbarDropdown" role="button"
        data-toggle="tooltip" data-placement="bottom" title="Your Account"
        aria-haspopup="true" aria-expanded="false">
            <i class="nav-item fas fa-user-alt"></i>
        </a>
    </li>
    <li class="nav-item pt-md-1 px-md-3">
        <a class="nav-link" href="{% url 'history' %}"
        role="button" data-toggle="tooltip"
        data-placement="bottom" title="History">
            <i class="nav-item fas fa-history"></i>
        </a>
    </li>
    <li class="nav-item pt-md-1 pr-md-3">
     <a class="nav-link" href="{% url 'cart' %}" role="button"
     data-toggle="tooltip" data-placement="bottom" title="Cart">
      <i class="nav-item fas fa-cart-arrow-down"></i>
     </a>
    </li>
    <li class="nav-item pt-md-1 pr-md-3">
        <a class="nav-link" href="{% url 'logout' %}" role="button"
        data-toggle="tooltip" data-placement="bottom" title="Logout">
            <i class="nav-item fas fa-sign-out-alt"></i>
        </a>
    </li>

    <!--
    {% if user.is_superuser %}
    <li class="nav-item pt-md-2 pr-md-3">
        <a class="nav-link" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fas fa-sign-out-alt"></i>Add New</a>
    </li>
    {% endif %}
    -->

    {% else %}
    <li class="nav-item">
        <a id="register-link" class="btn btn-link text-danger pr-0 pr-md-3 pt-md-3"
        href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item">
        <a id="login-link" class="btn btn-link text-primary pr-0 pr-md-3 pt-md-3 mr-md-2"
        href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <form class="form-inline align-center">
            <input id="search-input" class="form-control p-0 mr-1 pl-1 px-md-3"
            type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 ml-1"
            type="submit">Search</button>
        </form>
    </li>
    </ul>
      </div>
  </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="container m-auto mt-3 text-center">
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
<footer class="footer bg-light py-4">
 <div class="container">
  <div class="row">
   <div class="col-lg-6 h-100 text-center text-lg-left my-auto pb-md-4">
    <ul class="list-inline mb-2">
     <li class="list-inline-item">
      <a href="#">About</a>
     </li>
     <li class="list-inline-item">&sdot;</li>
     <li class="list-inline-item">
      <a href="#">Contact</a>
     </li>
     <li class="list-inline-item">&sdot;</li>
     <li class="list-inline-item">
      <a href="#">Terms of Use</a>
     </li>
     <li class="list-inline-item">&sdot;</li>
     <li class="list-inline-item">
      <a href="#">Privacy Policy</a>
     </li>
    </ul>
    <p class="text-muted small mb-4 mb-lg-0">
    &copy; Your Website 2019. All Rights Reserved.
    </p>
   </div>
   <div class="col-lg-6 h-100 text-center text-lg-right my-auto pb-md-2">
    <ul class="list-inline mb-0">
     <li class="list-inline-item mr-3">
      <a href="#">
      <i class="fab fa-facebook fa-2x fa-fw"></i>
      </a>
     </li>
     <li class="list-inline-item mr-3">
      <a href="#">
      <i class="fab fa-twitter-square fa-2x fa-fw"></i>
      </a>
     </li>
     <li class="list-inline-item">
      <a href="#">
      <i class="fab fa-instagram fa-2x fa-fw"></i>
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- JavaScript-->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
