{% extends 'auction_store/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
</style>
<div class="container py-3">
 <div class="row">
  <div class="col-8 offset-2">
   <form method="POST">
   {% csrf_token %}
     <fieldset class="form-group">
      <legend class="text-center border-bottom mb-4">Buy Artifact</legend>
      <h3 class="text-center">
       Are you sure you want to buy "{{ object.name }}"?</h3>
       {{ form|crispy }}
     </fieldset>
     <div class="form-group">
      <a class="btn btn-outline-danger ml-4"
      href="{% url 'item-detail' object.id %}">Cancel</a>
      <button class="btn btn-outline-primary ml-3 px-4" type="submit">Buy</button>
     </div>
   </form>
  </div>
 </div>
</div>
{% endblock content %}
