{% extends 'auction_store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<div class="container my-4"><!-- container -->
 <div class="row">
  <legend class="border-bottom mb-4 text-center font-weight-bolder">
   <i class="nav-item fas fa-ad text-muted pr-1"></i>
   For Sale
  </legend>
  <div class="col-8 offset-2">
    <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
      <div class="form-row">
       <div class="form-group col-12">
        {{ form.image|as_crispy_field }}
       </div>
       <div class="form-group col-12">
        {{ form.name|as_crispy_field }}
       </div>
       <div class="form-group col-12 col-md-4">
        {{ form.category|as_crispy_field }}
       </div>
       <div class="form-group col-12 col-md-4">
        {{ form.price|as_crispy_field }}
        <p class="text-muted text-center">
        <small>* Price just in sales!</small>
       </p>
       </div>
       <div class="form-group col-12 col-md-4">
        {{ form.start_auction_price|as_crispy_field }}
        <p class="text-muted text-center">
         <small>
          *The Starting Bid.
          <br>
          Leave blank if the artifact is not at auction!
         </small>
        </p>
       </div>
       <div class="form-group col-12">
        {{ form.short|as_crispy_field }}
        <p class="text-muted">
         <small>
          *Appears only in the artifact's description in the store
         </small>
        </p>
       </div>
       <div class="form-group col-12">
        {{ form.desc|as_crispy_field }}
       </div>
      </div>
      <button class="btn btn-primary px-5"
      type="submit">Submit</button>
    </form>
  </div>
 </div>
</div>
<script>
  price_g = document.getElementById('id_price').setAttribute("min", "1");
  price_l = document.getElementById('id_start_auction_price').setAttribute("min", "1");
</script>
{% endblock %}
