{% extends 'auction_store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block content %}
<div class="container my-4"><!-- container -->
 <div class="row">
  <div class="col-8 offset-2">
    <form action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
      <div class="form-row">
       <div class="form-group col-12">
        {{ form.image|as_crispy_field }}
       </div>
       <div class="form-group col-12">
        {{ form.name|as_crispy_field }}
       </div>
       <div class="form-group col-md-4 offset-md-1">
        {{ form.category|as_crispy_field }}
       </div>
       <div class="form-group col-md-4 offset-md-2">
        {{ form.price|as_crispy_field }}
        <p class="text-muted text-center">
        <small>* Price just in sales!</small>
       </p>
       </div>
       <div class="border border-secondary row py-4 mb-3">
       <div class="form-group col-md-4 offset-md-1 mt-4 pl-5">
        {{ form.in_auction|as_crispy_field }}
       </div>
       <div class="form-group col-md-4 offset-md-2">
        {{ form.start_auction_price|as_crispy_field }}
       </div>
       <p class="text-muted text-center col-md-8 offset-md-2">
        <small>* Tick the checkbox and type your Start Auction Price (the starting bid) if you put up the artifact for auction!</small>
       </p>
       </div>
       <div class="form-group col-12">
        {{ form.desc|as_crispy_field }}
       </div>
      </div>
      <button class="btn btn-primary px-5"
      type="submit">Submit</button>
    </form>
  </div>
 </div>
</div>
{% endblock %}
