{% extends 'auction_store/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/progress-bar.css' %}">

<div class="container-fluid pt-3">
{% if messages %}
 {% for message in messages %}
  <div class="container m-auto mt-3 text-center">
   <div class="alert alert-{{ message.tags }}">
    {{ message }}
   </div>
  </div>
 {% endfor %}
{% endif %}

 <div class="row"><!-- top row -->
  <div class="col-md-8"><!-- top col-12 -->
   <div class="row"><!-- item-spec row -->
    <div class="col-12 col-md-6">

    {% if object.sold %}
     <img class="layered-image img-fluid ml-md-3 col-12" src="{{ object.image.url }}">
     <img class="image-overlay img-fluid" src="{% static 'img/sold-out.png' %}">
    {% else %}
     <img class="img-fluid ml-md-3 col-12" src="{{ object.image.url }}">
    {% endif %}

     <h5 class="pt-4 text-center">Item Specification</h5>
     <p class="pt-2 mb-2 text-center">
      <span class="key-item-detail">Condition:
      </span>Very Good</p>
     <p class="mb-2 text-center">
      <span class="key-item-detail">Origin Country:
      </span>China</p>
     <p class="text-center">
      <span class="key-item-detail">Manufactured by:
      </span>Nation</p>
    </div>
    <div class="col-md-6 pt-4">
     <h3 class="text-center">{{ object.name }}</h3>
      <i class="fas fa-euro-sign text-center w-100"></i>
      <p class="item-price text-center">{{ object.price }}</p>
     <div class="row pt-4">
       {% if object.seller ==  user %}
       {% if object.today_date < object.finish_date %}
        <div class="col-6">
        {% if not object.sold %}
         <a class="btn-auction btn btn-outline-warning btn-lg w-100"
         href="{% url 'item-update' object.id %}">Update</a>
         {% endif %}
         {% endif %}
         </div>
        <div class="col-6">
         {% if not object.sold %}
         {% if object.today_date < object.finish_date %}
         <a class="btn-buy btn btn-outline-danger btn-lg w-100"
         href="{% url 'item-delete' object.id %}">Delete</a>
         {% endif %}
         {% endif %}
        </div>
       {% else %}

        {% if object.in_auction %}
         {% if not object.sold %}
         {% if object.today_date < object.finish_date %}
         <div class="col-6">
          <p class="fas fa-hourglass-end text-center w-100"></p>
          <p id="timer" class="text-center text-center">
          {{ object.end_date|date:"F d, Y H:i:s" }}</p>
          <a class="btn-auction btn btn-outline-warning btn-lg w-100"
          data-toggle="modal" data-target="#bid-form">
          Place Bid
          </a>
          {% endif %}
          {% endif %}
         </div>
          {% if not object.sold %}
          {% if object.today_date < object.finish_date %}
         <div class="col-6">
          <i class="fas fa-euro-sign text-center w-100"></i>
          <p class="item-price text-center">{{ object.price }}</p>
          <a class="btn-buy btn btn-outline-danger color-danger btn-lg w-100"
          href="{% url 'buy' object.id %}">
          Buy Now</a>
          {% endif %}
          {% endif %}
          </div>
        {% else %}
         <div class="offset-2 col-8">
          <i class="fas fa-euro-sign text-center w-100"></i>
          <p class="item-price text-center">{{ object.price }}</p>
          {% if not object.sold %}
          <a class="btn-buy btn btn-outline-danger color-danger btn-lg w-100"
          href="{% url 'buy' object.id %}">
          Buy Now</a>
          {% else %}
          <p>SOLD</p>
          {% endif %}
         </div>
        {% endif %}

       {% endif %}


      <div class="col-12 pt-5">
       <p class="mb-1"><span class="key-item-detail">Postage: </span>
        <i class="fas fa-euro-sign"></i>
        18.04 (approx. EUR 21.05) Express delivery to Ireland
       </p>
       <p class="mb-1 mt-2">
        <span class="key-item-detail">Delivery: </span>8 - 14 days</p>
       <p class="mb-0"><span class="key-item-detail">Payments:
        </span> <img id="img-paypal" src="{% static 'img/paypal.png' %}"></p>
       <p><span class="key-item-detail">Return: </span>30 days</p>
      </div>
     </div>
    </div>

    <div class="row pt-4 m-1 mx-4">
     <h5 class="pb-2 col-12 m-0 pl-0">History</h5>
     <p class="#">
     4 Well-Known Traditional Chinese Clothes Types.
     The Hanfu, Zhongshan suit (Mao suit), Tang suit,
     and cheongsam (qipao) are the four most distinctive
     types of traditional Chinese clothing.
     4 Well-Known Traditional Chinese Clothes Types
     Each country in the world has its own unique traditional clothes,
     from which people are able to distinguish one country from another,
     and so it has been with China.
     The Hanfu, Zhongshan suit (Mao suit), Tang suit, and cheongsam (qipao) are
     the four most distinctive types of traditional Chinese clothing.
     1. Hanfu hanfu
     The Hanfu (' Han clothing' — the majority of Chinese are of Han ethnicity)
     is the oldest of China's traditional clothes.
     Legend traces it back to over 4,000 years ago when Huangdi's consort,
     Leizu, made cloth with silk. It was
     constantly improved throughout several dynasties.
     Until the Han Dynasty, the Hanfu was adopted and vigorously promoted by
     the ruling class. It then became the national clothing of the Han ethnic people.
     It also had a far-reaching influence on neighboring Asian countries,
     such as Korea, Japan, and Vietnam. 2. Zhongshan Suit...
     </p>
    </div>
   </div><!-- item-spec row -->

  </div><!-- top col-12 -->

    {% if object.in_auction %}
    <div class="col-12 col-md-4 border-left">
     <h5 class="pt-3 text-center">Bid History</h5>
     <div class="row">
      {% if object.seller ==  user %}
       <p id="timer" class="col-12 mb-0 text-center">
        {{ object.end_date|date:"F d, Y H:i:s" }}
       </p>
      {% endif %}
      <div class="container my-2">
       {% if object.today_date > object.finish_date %}
       <p class="text-center">SOLD!</p>
       {% else %}
       <div id="progress-bar"></div>
       {% endif %}
      </div>
     </div>
     <div class="row my-2">
      <p id="start-date" class="col-12 text-center">
      Start date: {{ object.start_date|date:"F d, Y H:i:s" }}
      </p>
      <p id="start-date" class="col-12 text-center">
      End Date: {{ object.end_date|date:"F d, Y H:i:s" }}
      </p>
      <p class="col-12 text-center">Starting Bid: <strong>EUR {{ object.start_auction_price}}</strong></p>
     </div>

     {% for bid in bids %}
     <div class="row pt-3">
      <p class="bid-icon col-4 mb-0 text-center fas fa-user-alt"></p>
      <p class="bid-icon col-4 mb-0 text-center fas fa-euro-sign"></p>
      <p class="bid-icon col-4 mb-0 text-center far fa-clock"></p>
      <p class="col-4 mb-0 text-center">{{ bid.bidder }}</p>
      <p class="col-4 mb-0 text-center">{{ bid.amount }}</p>
      <p class="col-4 mb-0 text-center"> {{ bid.date|date:"d M Y, H:i:s" }}</p>
     </div>
     <hr class="my-1">
     {% endfor %}
    </div>
    {% endif %}
 </div><!-- top row  -->
</div><!-- container  -->

<!--MODAL-->
{% if not object.sold %}
<form method="POST">
{% csrf_token %}
 <div class="modal fade" id="bid-form" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
 <div class="modal-content">
  <div class="modal-header">
  {% for bid in bids %}
   {% if forloop.first %}
   <h5 class="modal-title" id="exampleModalLabel">EUR {{ bid.amount }}</h5>
   {% endif %}
  {% endfor %}
  {% if not bids %}
   <h5 class="modal-title" id="exampleModalLabel">EUR {{ object.start_auction_price}}</h5>
  {% endif %}
   <p>{{ object.end_date|date:"F d, Y H:i:s" }} | {{ bids.count }} Bids<p>
   <button type="button" class="close"
   data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  <div class="modal-body">
   <div class="row ml-2">
    {% for bid in bids %}
     {% if forloop.first %}
      <button type="button"
      class="fixed-btn col-3 ml-4 p-2 btn btn-outline-primary">
      EUR {{ bid.amount|add:1 }}
      </button>
      <button type="button"
      class="fixed-btn col-3 ml-4 p-2 btn btn-outline-primary">
      EUR {{ bid.amount|add:2 }}
      </button>
      <button type="button"
      class="fixed-btn col-3 ml-4 p-2 btn btn-outline-primary">
      EUR {{ bid.amount|add:4 }}
      </button>
     {% endif %}
    {% endfor %}
    {% if not bids %}
      <button type="button"
      class="fixed-btn col-3 ml-4 p-2 btn btn-outline-primary">
      EUR {{ object.start_auction_price|add:1 }}
      </button>
      <button type="button"
      class="fixed-btn col-3 ml-4 p-2 btn btn-outline-primary">
      EUR {{ object.start_auction_price|add:2 }}
      </button>
      <button type="button"
      class="fixed-btn col-3 ml-4 p-2 btn btn-outline-primary">
      EUR {{ object.start_auction_price|add:4 }}
      </button>
     {% endif %}
   </div>
   <hr class="py-2 mt-3 mb-0">
   <div class="row ml-5 mb-3">
    <div class="col-6">
    {{form|crispy}}
    </div>
    <button id="bid-btn" type="submit" name="bid_form"
    class="col-3 ml-2 btn btn-primary">Bid</button>
    </div>
   </div>
  </div>
  </div>
 </div>
</form>
{% endif %}

<script>
var endDate = document.getElementById("timer").innerHTML;

var countDownDate = new Date(endDate).getTime();

var tday = new Date().getTime();


var timeLeftRedirect = Math.floor(countDownDate - tday);
console.log(timeLeftRedirect)
// refresh/redirect after the time
  if(timeLeftRedirect > 0){
    window.setTimeout(function(){
      location.href = "http://localhost:8000/store";
    }, timeLeftRedirect);
}
</script>
<script src="{% static 'js/progress.js' %}"></script>
<script src="{% static 'js/progress-bar.js' %}"></script>
{% endblock content %}
