{% extends 'auction_store/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-3">
    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Artifact</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}