{% extends 'auction_store/base.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<div class="container py-3">
 <div class="row">
  <div class="col-8 offset-2">
   <form method="POST">
    {% csrf_token %}
     <fieldset class="form-group">
      <legend class="text-center border-bottom mb-4">Pay {{ item.price }} euro </legend>
       <h3 class="text-center">
       Are you sure you want to buy "{{ item.name }}"?</h3>
     </fieldset>
    <div class="form-group">
     <a class="btn btn-outline-secondary ml-4"
     href="{% url 'item-detail' item.id %}">Cancel</a>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
       data-key="{{ key }}"
       data-description="{{ item.name }}"
       data-amount="{{ item.price|mul:100 }}"
       data-currency="eur"
       data-locale="auto">
      </script>
    </div>
   </form>
  </div>
 </div>
</div>
<!-- <script>
//stripe button
var stripeButton = document.getElementsByClassName('stripe-button-el');
var i;
for (i = 0; i < stripeButton.length; i++) {
  stripeButton[i].firstChild.innerHTML = "Buy";
</script> -->
{% endblock %}
