{% extends 'auction_store/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">

    <!-- Search Table -->
    <div class="row">
        <div class="col-12 col-md-3 mb-3">
            <!-- Categories -->
            <div class="table-section">
                <h6 class="font-weight-bold btn btn-block" data-target="#categories" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-controls="collapseExample">Categories
                    <i class="fas fa-sort-down float-right"></i></h6>
                <div id="categories" class="collapse" aria-labelledby="dropdownMenuButton">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Military</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Private</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Tools</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Treasure</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Writings</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Other</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Format -->
            <div class="table-section">
                <h6 class="font-weight-bold btn btn-block" data-target="#format" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-controls="collapseExample">Format
                    <i class="fas fa-sort-down float-right"></i></h6>
                <div id="format" class="collapse" aria-labelledby="dropdownMenuButton">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">All Listings</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Auction</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Buy It Now</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Time -->
            <div class="table-section">
                <h6 class="font-weight-bold btn btn-block" data-target="#time" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-controls="collapseExample">Time
                    <i class="fas fa-sort-down float-right"></i></h6>
                <div id="time" class="collapse" aria-labelledby="dropdownMenuButton">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">Less Than 24h</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">3 Days</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">This Week</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">This Month</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">This Year</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Price -->
            <div class="table-section">
                <h6 class="font-weight-bold btn btn-block" data-target="#price" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-controls="collapseExample">Price
                    <i class="fas fa-sort-down float-right"></i></h6>
                <div id="price" class="collapse" aria-labelledby="dropdownMenuButton">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">0 - 50</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">50 - 100</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">100 - 300</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">300 - 500</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
                            <input class="col-2" type="checkbox" aria-label="Checkbox for following text input">
                            <p class="col-7 px-0 mb-0 text-center"><a href="#">500 - 1000</a>
                                <p class="mb-0"><span class="col-3 badge badge-primary badge-pill">4676767</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Search Table -->

        <!-- Item Card -->
        {% for item in items %}
        <div class="card-group col-12 col-md-3 px-0">
            <div class="card">
                <img src="{{ item.image.url }}" alt="Image of" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item_name }}</h5>
                    <p><span class="text-muted">by</span> <span class="font-italic">Artifa</span></p>
                    <p class="text-center"><i class="fas fa-euro-sign"></i> {{ item.item_price }}</p>
                    <p class="card-text">{{ item.item_desc }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated {{ item.item_bid_start_date }}</small>
                </div>
            </div>
        </div>
        {% endfor %}

    </div><!-- row -->
</div><!-- container -->
{% endblock content %}