{% extends 'auction_store/base.html' %}
{% load static %}

{% block head_footer %}
 <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock head_footer %}

{% block content %}
<div class="container">
 <legend class="border-bottom my-3 text-center font-weight-bolder">
  <i class="nav-item fa fa-cart-arrow-down text-muted pr-1"></i>
   <span class="h2 font-weight-bolder">Cart</span>
 </legend>
 <div class="row ml-md-5 mr-md-0">
  <div class="cart-scroll d-flex flex-nowrap mt-3">
  {% for bid in win_bids %}
   {% if not bid.item.sold and bid.item.end_date < bid.today_date %}
    <div class="col-12 col-md-8 offset-md-4 m-1 border border-dark">
     <section class="media content-section row p-3">
      <img class="img-fluid col-6 pl-0" src="{{ bid.item.image.url }}">
       <div class="media-body col-6 mb-0">
        <div class="section-metadata">
         <a class="h4 mr-2 artifact text-dark font-weight-bold" href="{% url 'item-detail' bid.item.id %}">{{ bid.item.name }}</a>
         <p class="mb-0 text-muted">
          <i class="fas fa-gavel pr-2 pt-3"></i>
         {{ bid.date }}</p>
         <div class="col-12 offset-lg-3">
          <a class="btn btn-primary btn-sm mt-2 mb-1 px-5 mt-md-4 py-md-2 font-weight-bold"
          href="{% url 'payment' bid.item.id %}" style="font-size: 20px">
          Buy
          </a>
         </div>
        </div>
       </div>
     </section>
    </div>
   {% endif %}
  {% endfor %}
  </div>
 </div>
</div>
{% endblock %}
