{% extends 'auction_store/base.html' %}
{% load static %}
{% block head_footer %}
 <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock head_footer %}
{% block content %}
<div class="container">
 <div class="row">
  <div class="col-12 pt-5 mt-5 text-center">
   <h2>You have been logged out</h2>
  </div>
  <div class="col-8 offset-2">
   <div class="pt-3">
    <small class="text-muted">
     <a href="{% url 'login' %}">Log In Again</a>
    </small>
   </div>
  </div>
 </div>
</div>
{% endblock content %}
