<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

</head>

<body>

    <!-- Navbar  -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top pl-4 pr-4">

        <a class="navbar-brand font-weight-bold" href="/">ARTIFA</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn text-primary pl-0 pl-md-2 pt-md-2" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-danger pl-0 pl-md-2 pt-md-2" href="#">Register</a>
                </li>
            </ul>

            <ul class="navbar-nav pr-3">
                <li class="nav-item pt-md-2">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="tooltip" data-placement="bottom" title="Your Account" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-alt"></i>
                    </a>
                </li>
                <li class="nav-item pt-md-2 px-md-2">
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Shopping Cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item dropdown pt-md-2 pr-md-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="search-page.html">Time</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Type</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Price</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Seller</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Writing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Format</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline align-center">
                        <input id="search-input" class="form-control p-0 mr-1 pl-1 px-md-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Auction Section -->

    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide d-none d-lg-block mb-0" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <img class="col-lg-6 order-lg-2 text-white carousel-img" src='../static/img/tools.jpg'>
                        <img class="col-lg-6 order-lg-2 text-white carousel-img" src='../static/img/tools-2.jpg'>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img class="col-lg-6 order-lg-2 text-white carousel-img" src='../static/img/writing.jpg'>
                        <img class="col-lg-6 order-lg-2 text-white carousel-img" src='../static/img/military.jpg'>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img class="col-lg-6 order-lg-2 text-white carousel-img" src='../static/img/treasure.jpg'>
                        <img class="col-lg-6 order-lg-2 text-white carousel-img" src='../static/img/private.jpg'>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black !important"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>



        <div id="carouselExampleIndicators" class="carousel slide d-block d-lg-none mb-0" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <img class="col-12 order-lg-2 text-white carousel-img" src='../static/img/tools.jpg'>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <img class="col-12 order-lg-2 text-white carousel-img" src='../static/img/tools-2.jpg'>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <img class="col-12 order-lg-2 text-white carousel-img" src='../static/img/writing.jpg'>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black !important"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- Categories -->

        <section class="categories text-center bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <div class="categories-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded mb-3 p-2" src="../static/img/military.png" alt="">
                            <h5>Military</h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="categories-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded mb-3 p-2" src="../static/img/private.png" alt="">
                            <h5>Private</h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="categories-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded mb-3 p-2" src="../static/img/tools.png" alt="">
                            <h5>Tools</h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="categories-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded mb-3 p-2" src="../static/img/treasure.png" alt="">
                            <h5>Treasure</h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="categories-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded mb-3 p-2" src="../static/img/writing.png" alt="">
                            <h5>Writing</h5>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="categories-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded mb-3 p-2" src="../static/img/other.png" alt="">
                            <h5>Other</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Jumbotron -->

        <div class="jumbotron p-4 m-auto bg-primary text-warning">
            <img id="jumbotron-icon" class="float-left mt-md-3 mr-md-3 d-none d-md-block" src="../static/img/001-pay.png">
            <div class="row">
                <h1 class="col-md-8 display-5 text-md-left text-center">The fastest way to checkout </h1>
                <p class="lead col-md-8 text-md-left text-center">You can pay your item with your credit card!</p>
            </div>
            <a id="jumbotron-button-md" class="jumbotron-button jumbotron-button-hover d-none d-md-block btn btn-outline-warning float-right text-warning">Shop Now</a>
            <a class="jumbotron-button jumbotron-button-hover d-block d-md-none col-6 offset-3 btn btn-outline-warning text-warning">Shop Now</a>
        </div>


        <div id="just-added-wrapper" class="row mt-1 no-gutters">
            <div class="col-12 col-md-4 jumbotron mb-0 px-3 text-center">
                <h4 class="pt-md-5">Just Added... </h4>
                <p>The latest items! Waiting for you</p>
            </div>
            <div id="home-scrollspy" class="col-12 col-md-8">
                <div class="row">
                    <img class="col-12 order-lg-2 text-white" src='../static/img/military.jpg'>
                    <img class="col-12 order-lg-2 text-white" src='../static/img/private.jpg'>
                    <img class="col-12 order-lg-2 text-white" src='../static/img/tools.jpg'>
                    <img class="col-12 order-lg-2 text-white" src='../static/img/treasure.jpg'>
                    <img class="col-12 order-lg-2 text-white" src='../static/img/tools-2.jpg'>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>