<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>
	
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

</head>

<body>
						<!-- Navbar  -->
						
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top pl-4 pr-4">

        <a class="navbar-brand font-weight-bold" href="/">ARTIFA</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn text-primary pl-0 pl-md-2 pt-md-2" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-danger pl-0 pl-md-2 pt-md-2" href="#">Register</a>
                </li>
            </ul>

            <ul class="navbar-nav pr-3">
                <li class="nav-item pt-md-2">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button"  data-toggle="tooltip" data-placement="bottom" title="Your Account" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt"></i>
                    </a>
                </li>
                <li class="nav-item pt-md-2 px-md-2">
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Shopping Cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item dropdown pt-md-2 pr-md-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="search-page.html">Time</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Type</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Price</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Seller</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Writing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Format</a>
                    </div>
                </li>
				<li class="nav-item">
				<form class="form-inline align-center">
					<input id="search-input" class="form-control p-0 mr-1 pl-1 px-md-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2" type="submit">Search</button>
				</form>
				</li>
            </ul>
        </div>
    </nav>
	
	<div class="container-fluid">
	
		<div class="row pb-4"><!-- top wrapper -->
		
							<!-- Image  -->
							
			<div class="col-12 col-md-4 pt-4">
				<img class="img-fluid" src='../static/img/private.jpg'>
			</div>
			
							<!-- Middle Content -->
			
			<div class="col-12 col-md-8 pt-2">
		
					<h3 class="text-center text-md-left pt-2"> Clothes From Your Asia</h3>
					
					<div class="col-12 col-md-8 float-left"><!-- col-8 -->
					
						<div class="row"><!-- Item Details -->
							<div class="row mb-4">
								<p class="col-4 offset-2 p-3 mt-2 mb-0 item-timer text-center"><i class="pr-2 far fa-clock"></i>00:01:56</p>
								<p class="col-3 offset-1 offset-md-3 p-2 pt-4 pt-md-3 mb-0 item-price"><i class="fas fa-euro-sign"></i> 678</p>
								<a class="col-4 offset-2 btn btn-outline-warning btn-outline btn-lg align-center">Auction</a>
								<a class="col-4 offset-1 offset-md-2 btn btn btn-outline-danger btn-lg">Buy Now</a>
							</div>
							<div class="row pl-4">
								<div class="col-12">
									<p>
									Postage: 
									<i class="fas fa-euro-sign"></i>
									18.04 (approx. EUR 21.05) Express delivery to Ireland
									</p>
								</div>
								<div class="col-12"><p>Delivery: 8 - 14 days</p></div>
								<div class="col-12"><p>Payments: <img src="../static/img/paypal.png"></p></div>
								<div class="col-12"><p>Return: 30 days</p></div>
							</div>
						</div><!-- Item Details -->
					
					</div><!-- col-8 -->
				
				<div class="col-12 col-md-4 m-0 float-right border border-secondary p-3"><!-- col-4 -->
					<h5 class="text-center">John</h5>
					<p class="text-center">masterson12</p>
					<p class="text-center">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						(Feedback)
					</p>
					<a><p class="text-center">Other Items</p></a>
					<p class="p-2 text-center">Contact Details</p>
					
					<div class="h-100 text-center my-auto">
						<ul class="list-inline mb-0">
							<li class="list-inline-item mr-3">
								<a href="#">
									<i class="fab fa-facebook fa-2x fa-fw"></i>
								</a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="#">
									<i class="fab fa-twitter-square fa-2x fa-fw"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-instagram fa-2x fa-fw"></i>
								</a>
							</li>
						</ul>
					</div>
				</div><!-- col-4 -->
				
			</div>
		</div><!-- top wrapper -->
		
		
		<div class="row pb-4">
			<div class="col-12 col-md-4 pl-md-5 text-center">
				<h5 class="pb-3">Item Specification</h5>
				<p>Condition: Very Good</p>
				<p>Origin Country: China</p>
				<p>Manufactured by: Poor Kids</p>
			</div>
			<div class="col-12 col-md-8">
				<h5 class="pb-2">History</h5>
				<p class="pr-5">
				
				4 Well-Known Traditional Chinese Clothes Types. ... The Hanfu, Zhongshan suit (Mao suit), Tang suit, and cheongsam (qipao) are the four most distinctive types of traditional Chinese clothing.
				4 Well-Known Traditional Chinese Clothes Types
				Each country in the world has its own unique traditional clothes, from which people are able to distinguish one country from another, and so it has been with China.

				The Hanfu, Zhongshan suit (Mao suit), Tang suit, and cheongsam (qipao) are the four most distinctive types of traditional Chinese clothing.

				1. Hanfu hanfu
				The Hanfu ('Han clothing' — the majority of Chinese are of Han ethnicity) is the oldest of China's traditional clothes. Legend traces it back to over 4,000 years ago when Huangdi's consort, Leizu, made cloth with silk. It was constantly improved throughout several dynasties.

				Until the Han Dynasty, the Hanfu was adopted and vigorously promoted by the ruling class. It then became the national clothing of the Han ethnic people. It also had a far-reaching influence on neighboring Asian countries, such as Korea, Japan, and Vietnam.

				2. Zhongshan Suit...
				
				</p>
			</div>
		</div>
	
	</div><!-- container -->
	
	<!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>