<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>
	
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

</head>

<body>
						<!-- Navbar  -->
						
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top pl-4 pr-4">

        <a class="navbar-brand font-weight-bold" href="/">ARTIFA</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn text-primary pl-0 pl-md-2 pt-md-2" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-danger pl-0 pl-md-2 pt-md-2" href="#">Register</a>
                </li>
            </ul>

            <ul class="navbar-nav pr-3">
                <li class="nav-item pt-md-2">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button"  data-toggle="tooltip" data-placement="bottom" title="Your Account" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-alt"></i>
                    </a>
                </li>
                <li class="nav-item pt-md-2 px-md-2">
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Shopping Cart"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item dropdown pt-md-2 pr-md-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="search-page.html">Time</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Type</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Price</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Seller</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Writing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search-page.html">Format</a>
                    </div>
                </li>
				<li class="nav-item">
				<form class="form-inline align-center">
					<input id="search-input" class="form-control p-0 mr-1 pl-1 px-md-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2" type="submit">Search</button>
				</form>
				</li>
            </ul>
        </div>
    </nav>
	
	<div class="container-fluid">
	
		<div class="row">
		
			<div class="col-12 col-md-2 mb-3">
				
				<!-- Categories -->
				
				<div class="table-section">
					<h6 class="font-weight-bold btn btn-block pr-3" data-target="#categories" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-controls="collapseExample">Categories
					<i class="fas fa-sort-down pl-3"></i></h6>
					<div id="categories" class="collapse col-12 col-md-2 border-0" aria-labelledby="dropdownMenuButton">
						<ul class="list-group">
						
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Military</a>
								<span class="badge badge-primary badge-pill">87</span>
							</li>
							
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0" >
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Private</a>
								<span class="badge badge-primary badge-pill">2</span>
							</li>
							
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Tools</a>
								<span class="badge badge-primary badge-pill">1</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Treasure</a>
								<span class="badge badge-primary badge-pill">1</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Writing</a>
								<span class="badge badge-primary badge-pill">1</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Other</a>
								<span class="badge badge-primary badge-pill">1</span>
							</li>
						</ul>
					</div>	
				</div>
				
				<!-- Categories -->
				
				<div class="table-section">
					<h6 class="font-weight-bold btn btn-block pr-3" data-target="#format" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" aria-controls="collapseExample">Format
					<i class="fas fa-sort-down pl-3"></i></h6>
					<div id="format" class="collapse col-12 col-md-2 border-0" aria-labelledby="dropdownMenuButton">
						<ul class="list-group">
						
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">All</a>
								<span class="badge badge-primary badge-pill">148787</span>
							</li>
							
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Auction</a>
								<span class="badge badge-primary badge-pill">2</span>
							</li>
							
							<li class="list-group-item d-flex justify-content-between align-items-center py-1 px-4 border-0">
								<input class="mr-2" type="checkbox" aria-label="Checkbox for following text input">
								<a class="mr-md-2" href="#">Buy Now</a>
								<span class="badge badge-primary badge-pill">2</span>
							</li>
							
						</ul>
					</div>	
				</div>		
			</div>
			
			<div class="col-12 col-md-10">
				<div class="card-group">
				
				  <div class="card">
					<img src="../static/img/tools.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Mr Kangaroo Hammer</h5>
					  <p><span class="text-muted">by</span> <span class="font-italic">Kangaroo Himself</span></p>
					  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					  <p class="text-center">EUR 340</p>
					</div>
					<div class="card-footer">
					  <small class="text-muted">Last updated 3 mins ago</small>
					</div>
				  </div>
				  
				  <div class="card">
					<img src="../static/img/writing.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Oz Wizard Parchment</h5>
					  <p><span class="text-muted">by</span><span class="font-italic"> Anonymous</span></p>
					  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					  <p class="text-center">EUR 40</p>
					</div>
					<div class="card-footer">
					  <small class="text-muted">Last updated 1 min ago</small>
					</div>
				  </div>
				  
				  <div class="card">
					<img src="../static/img/military.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <h5 class="card-title">Black Zawisza Long Sword</h5>
					  <p><span class="text-muted">by</span> <span class="font-italic">Anthony Brockwurst</span></p>
					  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					  <p class="text-center">EUR 140</p>
					</div>
					<div class="card-footer">
					
					  <small class="text-muted">Last updated 5 hours ago</small>
					</div>
				  </div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	
	

							<!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/js/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>