{% extends 'auction_store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load my_tags %}
{% block head_footer %}
<style>
  /*footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}*/
</style>
{% endblock head_footer %}

{% block content %}


<form action="" method="GET">
  <li class="nav-item row pt-2">
  {% csrf_token %}
   <div class="col-4 offset-4 pt-1">
   {{ filterset.form.multi_name_fields|as_crispy_field }}
   </div>
   <button id="nav-search-btn" class="btn btn-outline-primary mt-1 mb-3 ml-2" type="submit">Search</button>
</li>
</form>

 <div class="col-12 text-center">
  {% for bid in object_list %}
  <p>Name: <strong>{{ bid.item.name }}</strong></p>
  <p>{{ bid.item.seller }}</p>
  <p>{{ bid.item.start_date }}</p>
  <hr>
  {% endfor %}
 </div>
{% endblock %}
