{% extends 'auction_store/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="container py-3">
    <fieldset class="form-group">
     <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
      <div class="row">
       <div class="col-md-6">
        <legend class="border-bottom mb-4 text-center">{{ user.username }}</legend>
         <div class="row">
          <div class="col-6">
          {{ u_form|crispy }}
          </div>
         </div>
       </div>
       <div class="col-md-6">
        <p class="text-center pt-2">Personal Details</p>
         <div class="col-12">
         {{ a_form|crispy }}
         </div>
        <button class="btn btn-outline-primary px-5" type="submit">Update</button>
       </div>
      </div>
     </form>
    </fieldset>
   </div>
{% endblock content %}

<!--
    <p><small>Full Name:  </small>{{ user.account.full_name }}</p>
            <p><small>Phone:   </small>{{ user.account.phone_number }}</p>
            <p><small>Country:  </small>{{ user.account.country }}</p>
            <p><small>Postcode:  </small>{{ user.account.postcode }}</p>
            <p><small>Town/City:  </small>{{ user.account.town_or_city }}</p>
            <p><small>Street Address 1:   </small>{{ user.account.street_address1 }}</p>
            <p><small>Street Address 2:   </small>{{ user.account.street_address2 }}</p>
            <p><small>County:   </small>{{ user.account.county }}</p>
-->
