.container-prog-bar {
  height: 20px;
}
.container-prog-bar #progress-bar {
  height: 100%;

  transition-property: width;
  transition-duration: 10s;
  transition-timing-function: linear;

  -webkit-transition-property: width;
  -webkit-transition-duration: 10s;
  -webkit-transition-timing-function: linear;
}
